<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col">
        <div formGroupName="inputOne">
          <h3>Input One</h3>

          <div class="form-group">
            <label for="inputOnePort">Port</label>
            <input type="text" class="form-control" id="inputOnePort" placeholder="Port" formControlName="port" required>
          </div>

          <div class="form-group">
            <label for="inputOneEndpoint">Endpoint</label>
            <input type="text" class="form-control" id="inputOneEndpoint" placeholder="Endpoint" formControlName="endpoint" required>
          </div>
        </div>
      </div>
      <div class="col">
        <div formGroupName="inputTwo">
          <h3>Input Two</h3>

          <div class="form-group">
            <label for="inputTwoPort">Port</label>
            <input type="text" class="form-control" id="inputTwoPort" placeholder="Port" formControlName="port" required>
          </div>

          <div class="form-group">
            <label for="inputTwoEndpoint">Endpoint</label>
            <input type="text" class="form-control" id="inputTwoEndpoint" placeholder="Endpoint" formControlName="endpoint" required>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="inputOneFile">Files</label>
      <input type="file" class="form-control-file" id="inputOneFile" required multiple (change)="fileChange($event)">
    </div>

    <!--<button type="submit" class="btn btn-primary" [disabled]="!form.valid">Comparererer</button>-->
    <button type="submit" class="btn btn-primary">Comparererer</button>
  </form>

  <input type="text" class="form-control" [(ngModel)]="input1">
  <input type="text" class="form-control" [(ngModel)]="input2">

  <hr>

  <ul *ngFor="let fileResponse of fileResponses" class="list-group">
    <li class="list-group-item">
      <h4>{{ fileResponse.fileName }}</h4>
      <hr>
      <pre diff [left]="fileResponse.inputOneResponse" [right]="fileResponse.inputTwoResponse"></pre>
      <hr>
      <pre lineDiff [left]="fileResponse.inputOneResponse" [right]="fileResponse.inputTwoResponse"></pre>
      <hr>
      <pre semanticDiff [left]="fileResponse.inputOneResponse" [right]="fileResponse.inputTwoResponse"></pre>
      <hr>
      <pre processingDiff [left]="fileResponse.inputOneResponse" [right]="fileResponse.inputTwoResponse"></pre>
    </li>
    <br>
  </ul>
</div>
